.sign-in{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    text-align: center;
    color: white;
}
.c-title{
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: white;
    margin-top: 20px;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    
}
.badge-2{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: green;
    font-size: 30px;
    border-radius: 50%;
    margin-left: 5%;
    margin-right: 5%;
}
.badge{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: green;
    font-size: 30px;
    border-radius: 50%;
   
}

.active-badge{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: white;
    font-size: 30px;
    border-radius: 50%;
}

.s-title{
    font-size: 25px;
    color: white;
    margin-top: 20px;
}

.s-stitle{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 10px;
}

.enter-info{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid green;
    margin-top: 15px;
    padding: 10px;
}

.btn-login>a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}

.btn-s,.btn-c{
    font-size: 16px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    margin-top: 15px;
    cursor: pointer;
}

.sign-media>p{
    font-size: 17px;
    margin-top: 30px;
}

.sign-media>p::before{
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background-color: white;
    position: absolute;
    margin-top: 10px;
    margin-left: -30px;
}

.sign-media>p::after{
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background-color: white;
    position: absolute;
    margin-left: 190px;
    margin-top: -10px;
}

.sign-media ul{
    display: flex;
    list-style: none;
        align-items: center;
        justify-content: center;
}

.sign-media img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.twi-icon{
    margin-left: 50px;
    margin-right: 50px;
}

.sign-media img:hover{transform: scale(1.5)}

