*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.slider {
    width: 90vw;
    max-height: 500px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 1%;
}

.images {
    display: flex;
}

.images img{
    height: 500px;
    min-width: 100%;
    transition: all 0.15s ease;
    justify-content: center;
    align-items: center;
}

.images input{
    display: none;
}

.dots{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px;
    top: -45px;
}

.dots label{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: solid white 2px;
    cursor: pointer;
    transition:all 0.15s ease;
    margin: 5px;
}

.dots label:hover{background: #fff;}

#img1:checked ~ .m1{
    margin-left: 0%;
}
#img2:checked ~ .m2{
    margin-left: -100%;
}
#img3:checked ~ .m3{
    margin-left: -200%;
}

.category{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255,0.4 );
    border-radius: 20px;
    height: fit-content;
    margin: 3% 5% 0 5%;
    padding: 20px;
}

.category p{
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
}

.c1{
    display: flex;
    overflow: auto;
    max-width: 95%;
}
.c1 img{
    cursor: pointer;
    margin: 5px;
    width: 20%;
    min-width: 100px;
    min-height: 100px ;
    height: 20%;
    border-radius: 10%;
}

.group1{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1%;
}

.g1title h1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3rem;
    color: #fff;
    text-shadow: 0 10px 5px rgba(33, 32, 32, 0.5);
}

.pcard{
    display: flex;
    background-color: rgba(255, 255,255,0.7);
    width: 500px ;
    height: 260px;
    margin-bottom: 5%;
    border-radius: 5px;
    padding: 10px;
}

.pcard img{
    width: 10rem;
    height: 13rem;
    margin: 2% auto;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(33, 32, 32, 0.2); 
}

.pinfo{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 50vw;
    text-overflow: ellipsis;
    margin-left: 20px;
}

.pinfo>p{
    max-width: 100% ;
    font-size: 0.8rem;
    margin-top: -10px;
}

.button{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 3%;
}
.btnw{
    margin-right: 10px;
    width: 100px;
    height: 5vh;
    border: none;
    border-radius: 6px;
    background-color: rgba(255, 255,255);
    cursor: pointer;
    font-size: 0.5rem;
    font-weight: bold;
}
.btn2{
    max-width: 120px;
    width: 120px;
    height: 5vh;
    border: none;
    border-radius: 6px;
    background-color: #008000;
    cursor: pointer;
    color: white;
    font-size: 0.5rem;
    font-weight: bold;
}

.pinfo>h4{
    color: black;
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
    min-height: 2.3rem;
    text-overflow: ellipsis;
}

.pinfo>h6{
    margin-top: -10px;
}
